<div class="footer">
    <div class="pull-right">
        Powered by <a href="mailto:quat@protonmail.com">Quat</a>
    </div>
    <div>
        <strong>Copyright</strong> Digishop &copy; 2017
    </div>
</div>
